{% extends '::front.html.twig' %}

{% block title %}Sign Up{% endblock%}

{% block body %}
    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('front_home') }}">Home</a></li>
            <li class="active">Registration</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Registration</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" action="/register/"  method="POST">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Register a new account</h3>
                            <p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="{{ path('front_signIn') }}">Login</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
                            <hr>

                            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

                                <div class="top-margin">
                                    {{ form_errors(form.username) }}
                                    {{ form_label(form.username, 'First Name') }}
                                    {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                                </div>

                                <div class="top-margin">
                                    {{ form_errors(form.email) }}
                                    {{ form_label(form.email, 'Email Adress') }}
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                </div>

                                <div class="row top-margin">
                                    {{ form_errors(form.plainPassword.first) }}
                                    <div class="col-sm-6">
                                        {{ form_label(form.plainPassword.first, 'Password') }}
                                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_label(form.plainPassword.second, 'Confirm Password') }}
                                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>

                                <hr>

                                {{ form_rest(form) }}
                                <div class="row">
                                    <div class="col-lg-8">
                                        <label class="checkbox">
                                            <input type="checkbox" required="required">
                                            I've read the <a href="page_terms.html">Terms and Conditions</a>
                                        </label>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-action" type="submit">Register</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>	<!-- /container -->
{% endblock %}