{% extends 'ApplicationBundle::back_end_layout.html.twig' %}

{% block body %}

    <!--toggle sidebar button-->
    <p class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
    </p>

    <h1 id="dashboard">Dashboard</h1>

    {#<div class="row placeholders">#}
        {#<div class="col-xs-6 col-sm-3 placeholder text-center">#}
            {#<img src="//placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">#}
            {#<h4>Label</h4>#}
            {#<span class="text-muted">Something else</span>#}
        {#</div>#}
        {#<div class="col-xs-6 col-sm-3 placeholder text-center">#}
            {#<img src="//placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">#}
            {#<h4>Label</h4>#}
            {#<span class="text-muted">Something else</span>#}
        {#</div>#}
        {#<div class="col-xs-6 col-sm-3 placeholder text-center">#}
            {#<img src="//placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">#}
            {#<h4>Label</h4>#}
            {#<span class="text-muted">Something else</span>#}
        {#</div>#}
        {#<div class="col-xs-6 col-sm-3 placeholder text-center">#}
            {#<img src="//placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">#}
            {#<h4>Label</h4>#}
            {#<span class="text-muted">Something else</span>#}
        {#</div>#}
    {#</div>#}

    {#<hr>#}

    <h2 class="sub-header">Your active Checking Url :</h2>
    <a class="btn btn-info" href="{{ path('backend_check_create') }}">Add New Check Url </a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID: </th>
                <th>Name: </th>
                <th>Url: </th>
                <th>Time Out: </th>
                <th>Ping Interval: </th>
                <th>Tags: </th>
                <th>Action: </th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for checkUrl in data %}
                <tr>
                    <td><a href="{{ path('backend_check_read', {'idCheckUrl' : checkUrl.id}) }}">{{ checkUrl.id }}</a></td>
                    <td>{{ checkUrl.name }}</td>
                    <td>{{ checkUrl.url }}</td>
                    <td>{{ checkUrl.timeOut }} sec</td>
                    <td>{{ checkUrl.pingInterval }} sec</td>
                    <td>{{ checkUrl.tags }}</td>
                    <td><a href="{{ path('backend_check_update', {'idCheckUrl' : checkUrl.id}) }}">Edit</a></td>
                    <td><a href="{{ path('backend_check_delete', {'idCheckUrl' : checkUrl.id}) }}">x</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}