{% extends 'ApplicationBundle::back_end_layout.html.twig' %}

{% block body %}
    {% for checkUrl in data %}
        <hr>
        <p><strong>Name: </strong>{{ checkUrl.name }}</p>
        <p><strong>Url: </strong>{{ checkUrl.url }}</p>
        <p><strong>Time out: </strong>{{ checkUrl.timeOut }}sec</p>
        <p><strong>Ping Interval: </strong>{{ checkUrl.pingInterval }}sec</p>
        <p><strong>Tags: </strong>{{ checkUrl.tags }}</p>
        <hr>
    {% endfor %}
{% endblock %}